AIRFLOW_UID=50000

AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_EMAIL=airflow@example.com
AIRFLOW_ADMIN_FIRST_NAME=Airflow
AIRFLOW_ADMIN_LAST_NAME=Admin
AIRFLOW_DAG_SCHEDULE=0 12 * * *
AIRFLOW_RETRIES=1
AIRFLOW_RETRY_DELAY_SECONDS=300

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fefc_dw
POSTGRES_USER=fefc_user
POSTGRES_PASSWORD=fefc_password

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=sa-east-1
S3_BUCKET_NAME=fefc-data-lake
S3_ENDPOINT_URL=http://localstack:4566

DEFAULT_ELECTION_YEAR=2024
