__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.env
airflow_logs/
postgres_data/
localstack_data/
*.sqlite
*.db

